html{height: 100%;}

body{
  height: 100%;
  background-color: rgb(189, 189, 187);;

}

h1{
    font-size: 40px;
    text-align: center;
    background-color: rgb(78, 78, 77);
    border-radius: 8px;
}

.outer{
  background-color: rgb(78, 78, 77);
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  border-radius: 4px;
}

.outer > *{
  display: inline-block;
  background-color: rgb(82, 113, 141);
  border-radius: 4px;
  width: 18.5%;
  margin-top: 2%;
  margin-left: 10px;
}

.form_1{
  margin-left: 10px;
}

input{
  width: 60%;
}

.name_feild{
  margin-top: 10px;
}


.flavors{
  margin-top: 10px;
  margin-bottom: 10px;
}